header {
    text-align: center;
    background-color: hwb(60 45% 8% / 0.647);
    margin: 0;
}
h3 {
    color: rgb(16, 42, 16);
    background-color: rgba(247, 185, 196, 0.682);
    margin: 0;
    border-top: solid 2px orange; 
}

header img {    
    margin: auto;
    width: 200px;
}
.cent { width: 50%;
    margin: auto;
    text-align: center;}

.autore {
    text-align: center;
    color: grey;
}

nav {
    border-left: 2px solid #ffebbb ;
    padding-left: 15px;
}
nav p {    
    color: rgb(255, 68, 0);
}

.article {
    width: 50%;
    margin-block-start: 0; 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

